#hideBtn {
  font-family: "deseo-medium", sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px black;
  font-weight: 100;
  font-size: 340px;
  position: relative;
  cursor: pointer;
}

.outer-circle {
  position: fixed;      
  top: 50px;
  right: 50px;
  width: 220px;             
  height: 220px;
  border: 1px solid black;  
  border-radius: 50%;       
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: transparent; 
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.inner-circle {
  width: 180px;            
  height: 180px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.inner-circle textarea {
  width: 90%;
  height: 90%;
  border: none;
  outline: none;
  resize: none;
  font-size: 14px;
   font-family: "noto-sans", sans-serif;
font-weight: 400;         
  background: transparent;
  text-align: center;
}


.koskhol,
.baciarsiigomiti,
.naiman,
.isrif,
.bademjan {
  position: absolute;  
  opacity: 0;
  cursor: pointer;
}

.koskhol {
  width: 200px;
}

.baciarsiigomiti {
  width: 200px;
}

.naiman {
width: 200px;
}

.isrif {
width: 200px;
}

.bademjan {
width: 200px;
}

.textbox {
  position: fixed;
  background: white;
  border: 2px solid black;
  padding: 10px;
  display: none;
  width: 800px;
  z-index: 9999;
}

