#hideBtn {
  font-family: "deseo-medium", sans-serif;
  color: transparent;
  -webkit-text-stroke: 0.07vw black;
  font-weight: 100;
  font-size: 24.8vw;
  position: relative;
  cursor: pointer;
}

#outer-circle {
  position: fixed;      
  top: 3.66vw;
  right: 3.66vw;
  width: 15vw;             
  height: 15vw;
  border: 0.07vw solid black;  
  border-radius: 50%;       
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: transparent; 
  box-shadow: 0 0 0.73vw rgba(0,0,0,0.3);
}

.inner-circle {
  width: 13vw;            
  height: 13vw;
  border: 0.07vw solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.inner-circle textarea {
  width: 90%;
  height: 90%;
  border: none;
  outline: none;
  resize: none;
  font-size: 0.972vw;
   font-family: "noto-sans", sans-serif;
font-weight: 400;         
  background: transparent;
  text-align: center;
}


.koskhol,
.baciarsiigomiti,
.naiman,
.isrif,
.bademjan {
  position: absolute;  
  cursor: pointer;
  /* display: none; */
}

.textbox {
  position: fixed;
  background: white;
  border: 0.14vw solid black;
  padding: 0.73vw;
  display: none;
  width: 51.2vw;
  z-index: 9999;
}

.content-row {
  display: flex;
  gap: 1.46vw;
  align-items: flex-start;
}

.text-content {
  max-width: 30.74vw;
  max-height: 21.96vw;
  overflow: scroll;
}

video {
  flex-shrink: 0;
}
