#hideBtn {
  font-family: "deseo-medium", sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px black;
  font-weight: 100;
  font-size: 340px;
  position: relative;
  top: 18%;
  cursor: pointer;
}


.koskhol,
.baciarsiigomiti {
  position: absolute;
  visibility: hidden;   
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.koskhol {
  top: 50px;
  left: 50px;
  width: 200px;
}

.baciarsiigomiti {
  top: 200px;
  left: 70px;
  width: 200px;
}

#linkedImage {
  position: absolute;
  bottom: 50px;
  left: 450px;
  width: 1000px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}


#myDIV {
  width: 100vw;
  height: 100vh;
  position: fixed;
  text-align: center;
  background-color: lightblue;
}



